*, *::after, *::before { -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
	font-family: 'Avenir Next', Avenir, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #384348;
	background: #02161E;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* IDEA: night vs day mode --> invert colors (?) */

.red {
	background: rgb(19, 0, 4);
}
.red ::selection {
	background: #ff7d7d;
	color: black;
}

.blue {
	background: rgb(4, 0, 17);
}
.blue ::selection {
	background: #6ecfe0;
	color: black;
}

.yellow {
	background: rgb(14, 6, 0);
}
.yellow ::selection {
	background: #f0df80;
	color: black;
}

.purple {
	background: rgb(14, 0, 17);
}
.purple ::selection {
	background: #b881eb;
	color: black;
}

.orange {
	background: rgb(14, 4, 0);
}
.orange ::selection {
	background: #ffaf6e;
	color: black;
}

.pink {
	background: rgb(20, 0, 10);
}
.pink ::selection {
	background:#ff8aad;
	color: black;
}

.green {
	background: rgb(0, 14, 9);
}
.green ::selection {
	background:#94ee84;
	color: black;
}



a {
	outline: none;
	text-decoration: none;
	text-decoration: underline;
	font-weight: bold;
}

/* visited link */
a:visited {
	opacity: 90%;
}

a:hover, a:focus {
	opacity: 80%;
}

a.blue {
	color: #6ecfe0;
}

a.green {
	color: #94ee84;
}

a.purple {
	color: #b881eb;
}

a.orange {
	color: #ffaf6e;
}


html.js, 
.js body {
	height: 100vh;
	overflow: hidden;
}

/* Header */

/* IDEA: night vs day mode --> invert colors (?) */

.codrops-header {
	position: absolute;
	text-align: center;
	width: 100%;
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.codrops-header__title {
	letter-spacing: 0px;
	font-size: 1.7em;
	line-height: 1;
	font-weight: 400;
}

.codrops-header__red {
	color: #ff7575;
}

.codrops-header__blue {
	color: #6ecfe0;
}

.codrops-header__yellow {
	color: #f0df80;
}

.codrops-header__purple {
	color: #b881eb;
}

.codrops-header__orange {
	color: #ffaf6e;
}

.codrops-header__green {
	color: #94ee84;
}

.codrops-header__pink {
	color: #ff8aad;
}


.page h2 {
	font-size: 3.1em;
	transform: rotate(-18deg);
	position: absolute;
	top: 8%;
	width: 127%;
	text-align: center;
	font-family: 'Nanum Pen Script', cursive;
	/*
	font-family: 'Just Another Hand', cursive;
	font-family: 'Pangolin', cursive;
	font-family: 'Permanent Marker', cursive;
	*/
}

.socials {
	font-size: 1.3em;
	font-weight: 400;
	position: absolute;
	bottom: 7%;
	right: 5%;
}

/* Text Styles, Colors, Backgrounds */
.pt-page h1 {
	position: absolute;
	font-weight: 300;
	font-size: 4.4em;
	line-height: 1;
	/* letter-spacing: 4px; */
	margin: 0;
	top: 6%;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Roboto Mono', monospace;

}

.pt-page h1 span {
	font-family: 'Satisfy', serif;
	font-weight: 400;
	font-size: 40%;
	text-transform: none;
	display: block;
	opacity: 0.4;
}

.pt-page h1 strong {
	color: rgba(255, 255, 255, 0.877);
}

.content {
	margin-top: 4%;
	padding: 8%;
	font-size: 1.3em;
	font-family: 'Roboto Mono', monospace;
	text-align: center;

	/*
	font-family: 'Bebas Neue', cursive;
	*/
/*
	font-family: 'Karla', sans-serif;
	font-family: 'Hahmlet', serif;
*/
}

.text {
	color: whitesmoke;
	/* text-transform: uppercase; */
	line-height: 1.8;
}


@media screen and (max-width: 50em) {
	.codrops-header {
		position: relative;
		padding: 1em;
		font-size: 0.8em;
	}
}
